<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="row">
        <img src="../../Content/letter.jpg" style="width:42%;height:45%; float:left;" />

        <h1><span>E-Address Book</span></h1>
        <h2>By <span>AP LAB</span></h2>
        <h3>All your addresses on one place!</h3>
        <hr />
        <h3>You can add, delete or edit your addresses !</h3>
        <hr />
        <h4>Whenever you forget someone's address, this app <br />will help you to find it quickly!</h4>
    </div>
</body>
</html>